name: Terraform CI/CD
on:
  push:
    branches: [main]
    paths: ['terraform/**']
  workflow_dispatch:
    inputs:
      tf_action:
        description: 'Terraform action'
        required: true
        default: 'plan'
        type: choice
        options: [plan, apply, destroy]

jobs:
  terraform:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./terraform

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3

    - name: Terraform Init
      run: terraform init
      env:
        GOOGLE_CREDENTIALS: '${{ secrets.TF_WITH_GCP_KEY }}'

    - name: Terraform Plan
      if: github.event.inputs.tf_action == 'plan' || github.event_name == 'push'
      run: terraform plan
      env:
        GOOGLE_CREDENTIALS: '${{ secrets.TF_WITH_GCP_KEY }}'
        TF_VAR_postgres_password: ${{ secrets.POSTGRES_PASSWORD }}

    - name: Terraform Apply
      if: github.event.inputs.tf_action == 'apply'
      run: terraform apply -auto-approve
      env:
        GOOGLE_CREDENTIALS: '${{ secrets.TF_WITH_GCP_KEY }}'
        TF_VAR_postgres_password: ${{ secrets.POSTGRES_PASSWORD }}

    - name: Terraform Destroy
      if: github.event.inputs.tf_action == 'destroy'
      run: terraform destroy -auto-approve
      env:
        GOOGLE_CREDENTIALS: '${{ secrets.TF_WITH_GCP_KEY }}'
        TF_VAR_postgres_password: ${{ secrets.POSTGRES_PASSWORD }}
